<% provide(:title,'Home') %>
<!DOCTYPE html>
<html>
<head>
<title>
</title>
</head>
<body>
<% if current_user %>
  <div class="row">
    <%= image_tag("main.png", alt: "main image"   )  %>
  </div>

<% else %>

<!--<div class = "hero-unit">-->
    <%= image_tag("main_img.png", alt: "main image"   )  %>
<!--</div>-->

<% end %>
</body>
</html>
