<% provide(:title,'Youhoo About') %>
<div class="container marketing">

  <div align="center" style="padding-top:100px;" class="page-header">
        <h1>Youhoo (Your Epilogue)<small> By IT Probono CookIT</small></h1>
        <br><br>
            <div class="item">
              <%= image_tag("cookit.jpg", alt: "cookit") %>
            </div>
        <br><br>
        <blockquote class="pull-right">
          <p class="lead">
              Youhoo(Your Epilogue)는 다음세대재단의 아이티캐너스 사업으로 진행되었던 청년프로보노 활동인 <br>
              쿠킷친구들이 제작한 소셜기반의 봉사후기 공유 서비스 입니다. <br>
              봉사활동을 다녀오면 무언가 흔적을 남기고 싶다구요? <br>
              그럼 Youhoo를 이용해주세요.  <br>
              여러분의 후기를 온라인상에서 다른 친구들과 공유하고 이야기 할 수 있는 재밌는 시스템입니다.
          </p>
        </blockquote>
      </div>

</div>

