<% provide(:title,'Report Volunteer') %>
<div class="hero-unit container" style="margin-top:40px;">
<h1>Editing article</h1>

<%= render 'form' %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
</div>
