<% provide(:title,'Report Volunteer') %>
<div class="hero-unit container" style="margin-top:40px;">
  <h1 style="font-size:58px">Write Your Epilogue <br>
    <small>당신의 가슴 떨리는 후기를 사진과 함께  남겨주세요</small>
  </h1>
  <hr/>
<%= render 'form' %>
<!--<%= link_to 'Back', articles_path %>-->
</div>
