<% provide(:title,'Report Volunteer') %>
<div class="hero-unit container" style="margin-top:40px;">
  <h1 style="font-size:58px">Write Your Volunteer Epilogue <br>
    <small>write a worthful story, add a photo</small>
  </h1>
<%= render 'form' %>
<!--<%= link_to 'Back', articles_path %>-->
</div>
