
/* Color Sheet */
$lightGray: #999;
$grayMediumLight: #eaeaea;
$gray: #838b83;
$grayDarker: #808080;
$grayLighter: #8F8F8F;


@mixin box_sizing{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin shadow{
-moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;

}

textarea {
	resize: vertical;
}

.center {
	text-align: center;


	h1 {
	    margin-bottom : 10px;
 	}
}

h1, h2, h3, h4, h5, h6{
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $lightGray;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

.margin_top{
margin-top:50px;
}
/* footer */
.foot{
background-color:#617083;
width:100%;
height:40px;
padding-left:450px;
  div{
    margin:10px auto;
    width:250px;
    float:left;
    color:#ffffff;
  }
   
}

.footLine{
  background-color:#3a434a;
  width:100%;
  height:30px;
}

footer {
	margin-top:45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $lightGray;
	font-size:1.1em;

	a {
	    color: $gray;
	
	    &:hover {
	        color: $grayDarker;
	    }
	}
	
	small {
	    float: left;
	    margin-left:30px;
 	}

	ul {
	    float: right;
	    list-style: none;
	    margin-right:50px;

	    li {
	        float: left;
  	        margin-left: 10px;
	    }
	}



}


#error_explation{
  color:red;
  ul {
    list-style:none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors{
  @extend .control-group;
  @extend .error;
}

/* users */

.users{
  list-style:none;
  margin: 0;
  li {
    overflow:auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child{
      border-bottom:1px solid $grayLighter;
    }
  }
}


#portfolio-filter{
  margin-bottom:20px;
}

input[type="submit"]{
  margin-top:30px;
  margin-left:600px;
}


.article_editing{
  text-align:right;
}

.alllist{
  margin-top: 20px;
  margin-left:300px;
}












.pagination {
  margin-left: 600px;
}

.pagination span {
  margin: 10px auto;
  padding: 0;
  list-style: none;
  width: 180px;
}

.pagination span {
  float: left;
  margin-right: 10px;
}

.pagination .page{
  width:20px;
}

.pagination .next, .pagination .last, .pagination .first, .pagination .prev{
  width:50px;
}

.pagination span a {
  display: block;
  text-decoration:    none;
  color: #717171;
  font: bold 11px Arial, sans-serif;
  text-shadow: 0px 1px white;
  padding: 5px 8px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0px,0.35);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
  background: #f9f9f9;

  background: -webkit-linear-gradient(top, #f9f9f9 0%, #e8e8e8 10px0%);
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
    background: -o-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
    background: -ms-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
    background:   linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e8e8e8',GradientType=0 );
  }

  .pagination span.current {
    color: white;
    text-shadow: 0px 1px #3f789f;
    text-align:center;

    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
    background: #7cb9e5;

    background: -webkit-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
    background: -moz-linearnear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
    background: -o-linear-gradientadient(top, #7cb9e5 0%, #57a1d8 100%);
    background: -ms-linear-gradientadient(top, #7cb9e5 0%, #57a1d8 100%);
    background: linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradientent( startColorstr='#7cb9e5', endColorstr='#57a1d8',GradientType=0 );
  }

  .pagination span a:hover {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 1px 3px   0px rgba(0,0,0,0.55);
    background: #fff;

    background: -webkit-linear-gradiententradient(top, #fff 0%, #e8e8e8 100%);
    background: -moz-linear-gradient(gradienttop, #fff 0%, #e8e8e8 100%);
    background: -o-linear-gradient(top, #fff  0%, #e8e8e8 100%);
    background: -ms-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: linear-gradient(top, #fff 0%, #e8e8e8 100%);
    field_with_errorslter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#e8e8e8',GradientType=0 );
  }

  .pagination span a:active,.pagination span li a.current:active {
    -webkit-box-shadow: inset 0px   1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
    box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1) !important;
  }

  .pagination span a.current:hover {
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
    -moz-box-shadow:box 0px 1px 2px 0px rgba(0,0,0,0.9);
    box-shadow: 0px 1px 2px 0px rgba(0,0px,0,0.9);
    background: #99cefc;

    background: -webkit-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
    background: -moz-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
    background: -o-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
    background: -ms-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
    background: linear-gradient(top, #99cefc 0%, #57a1d8 100%)100;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99cefc', endColorstr='#57a1d8',GradientType=0 );
  }






 /* word_size = ["523x23", "435x23", "325x51"] */


