  <div class="foot">

      
    <div style="text-align:center;margin:auto auto;padding-top:10px;">청년 IT 프로보노 CookIT</div>
 
  </div>
  <div class="footLine"></div>
<footer class="footer">
    <nav class="container">
      <ul>
        <li><%- link_to "DaumFoundation", "http://www.daumfoundation.org/", :target => "blank" -%> </li>
        <li><%= link_to image_tag("daumfoundation.png", :alt => "daumFoundation", :size => "73x30"), "http://www.daumfoundation.org/", :targe => "blank" %> </li>
        <li><%- link_to "ITCanus", "http://www.daumfoundation.org/itcanus/introduce", :target => "blank" -%> </li>
        <li><%= link_to image_tag("itcanus.png", :alt => "itcanus", :size=>"107x30"), "http://www.daumfoundation.org/itcanus/introduce" , :target => "blank" %> </li>
        <li>© 2013 <%= link_to "CookIT 2기", about_path %></li>
	</ul>
    </nav>
</footer>

